@media only screen and (max-width: 1024px) {
  .header {
    align-items: center;
    background: rgba(9, 2, 17, 0.6);
    backdrop-filter: blur(9px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 88px;
    justify-content: flex-end;
    left: 0;
    mix-blend-mode: normal;
    padding: 16px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .active {
  }
  .container {
    align-items: center;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    height: 32px;
    min-width: 62.36px;
    object-fit: cover;
    position: relative;
  }

  /* .ctaheader {
    display: none;
  } */
  /* .headercta::before {
    content: url("/public/assets/images/menu.svg");
    height: 32px;
    min-width: 32px;
    position: relative;
    right: 30px;
  } */
  .ctaheaderbutton {
    align-items: center;
    border: 1.5px solid;
    border-color: transparent;

    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 0vw;
    padding: 5px 10px;
    position: relative;
    width: fit-content;
    border-radius: 10px;
    border-image: radial-gradient(
        rgb(234, 142, 193),
        rgb(37, 118, 224),
        rgb(37, 118, 224) 100%
      )
      1;
  }
  .ctaheader {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(234, 142, 193) 0%,
      rgb(37, 118, 224) 100%,
      rgb(37, 118, 224) 100%
    );
    background-clip: text;
    color: transparent;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.16px;
    line-height: normal;
    margin-top: -1.5px;
    position: relative;
    width: fit-content;
  }
}
@media (min-width: 1024px) {
  .active {
  }
  .header {
    align-items: center;
    background: rgba(9, 2, 17, 0.6);
    backdrop-filter: blur(9px);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    left: 0;
    mix-blend-mode: normal;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 3;
  }
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1248px;
  }
  .logo {
    height: 56px;
    min-width: 110.35px;
    object-fit: cover;
    position: relative;
    right: 30px;
  }
  .headercta {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    position: relative;
    width: fit-content;
  }
  .ctaheaderbutton {
    align-items: center;
    border: 1.5px solid;
    border-color: transparent;

    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 12px 24px;
    position: relative;
    width: fit-content;
    border-radius: 10px;
    border-image: radial-gradient(
        rgb(234, 142, 193),
        rgb(37, 118, 224),
        rgb(37, 118, 224) 100%
      )
      1;
  }

  .ctaheader {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(234, 142, 193) 0%,
      rgb(37, 118, 224) 100%,
      rgb(37, 118, 224) 100%
    );
    background-clip: text;
    color: transparent;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.16px;
    line-height: normal;
    margin-top: -1.5px;
    position: relative;
    width: fit-content;
  }
}
